@page
@model Avangardum.AsposeTestTask.Pages.Feed
@{
    ViewData["Title"] = "Feed";
}

@foreach (var postViewModel in Model.PostsViewModels)
{
    <div class="post">
        <b>@postViewModel.AuthorName</b><br/>
        <h4>@postViewModel.Title</h4>
        @postViewModel.Text
    </div>
}
